*{
    margin: 0;
    padding: ;
}

.Parametros{
    margin-left: 200px;
    margin-right: 200px;
    background-color: darkcyan;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

p{
    padding-bottom: 10px;
    padding-top: 10px;
}

.wrap {
  width: 800px;
  max-width: 90%;
  margin: 30px auto;
}

ul.taps {
  width: 100%;
  background: #363636;
  list-style: none;
  display: flex;
}

ul.taps li {
  width: 18%;
}

.active {
  background: #0984cc;
}

ul.taps li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  display: block;
  padding: 20px 0px;
  text-align: center;
}

ul.taps li a .tab-tex {
  margin-left: 8px;
}